html, body {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    width: 100%;
    /* height: 100%; */
}

.row{
    width: 100%;
    margin-bottom: 10px; 
    height: 605px;

}
.card{
    position: relative;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    height: 100%;
    width: 32%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
}
.title{
    text-align: center;
    width: 100%;
    padding: 4px 0px 4px 0px;
}
.poster{
    height: 250px;
    text-align: center;
}
.overview{
    text-align: justify;
    padding: 8px 15px 8px 15px;
    font-size: 15px;
}
.release{
    text-align: center;
    padding: 4px 0px 4px 0px;

}
.detailsBtn{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align:center;
    padding: 10px 0px 10px 0px;
}

img{
    height: 100%;
    max-width: 100%;
}

.menu{
    padding: 10px 50px 0px 50px;
    margin-bottom: 25px;
    height:77px;
    width: 100%;
    background-color: black;
}
.menu_third{
width: 33%;
float: left;
color:white;
}

select{
    width: 60%;
    height: 25px;
    border-radius: 9px;
    border-color: #c6c6c6;
}

input[type=text]{
    width: 60%;
    height: 20px;
    border-radius: 9px;
    border-color: #c6c6c6;
}

input[type=button], [type=submit]{
    background-color: white;
    border-color: #c6c6c6;
    border-radius: 9px;
    color:black;
    border-style: solid;
    height: 35px;
    width: 65px;
    cursor: pointer;
}
label{
color:white;
}

.big_poster{
    float: left;
    width: 25%;
    height: 500px;
    margin-right: 15px;
    border-radius: 6px;
}

.info{
    width: 65%;
    height: 500px;
    float: left;
    padding: 1.5%;
}

.card_overview{
    width: 96%;
    float: left;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    padding:8px;
    margin-bottom: 10px;

}
.mini_card{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 30%;
    float:left;
    margin:1.5% 1.5% 0px 0px;
    padding:5px;

}
.center{
    margin: 5% 0% 0% 4%;
}
.btn{
    text-align: center;
}